---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Elden lord, page built for fun and learn">
  <h1 class="text-3xl md:text-5xl mb-10 text-center">Elden Lord</h1>
  <p class="text-1xl md:text-2xl mb-5 text-center">Project built for fun and learn</p>
  <ul class="mb-5 text-center">
    <li><a class="hover:underline" target="_blank" href="https://astro.build/">Astro</a></li>
    <li><a class="hover:underline" target="_blank" href="https://tailwindcss.com/">TailwindCss</a></li>
    <li><a class="hover:underline" target="_blank" href="https://pages.github.com/">Github pages</a></li>
    <li><a class="hover:underline" target="_blank" href="https://ui.shadcn.com/">ShadCn</a></li>
  </ul></p>
  <p class="text-1xl md:text-2xl mb-5 text-center">by Elden Ring huge fan</p>
  <p class="text-1xl md:text-2xl mb-5 text-center">To build this website great, free API was used <a class="hover:underline" target="_blank" href="https://eldenring.fanapis.com/">Elden Ring API</a></p>
  <p class="text-1xl md:text-2xl mb-5 text-center">Feel free to explore this page via right corner side menu, I hope it will be be great journey for you tarnished</p>
  <p class="text-1xl md:text-2xl mb-5 text-center">If you have some idea hot to improve this website or found a bug, feel free to contact me via contact form on my company website, just click link in the footer</p>
</Layout>
