---
import Card from "./Card.astro";
import PreviousButton from "./PreviousButton.astro";

interface Props {
  data: [];
  path: string;
}

const { data, path } = Astro.props;
---

<section
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 gap-y-10 text-center"
>
  {
    data?.map(({ id, image, name }) => (
      <Card id={id} image={image} name={name} path={path} />
    ))
  }
</section>
<PreviousButton />
