---

---

<footer
  class="flex flex-col md:flex-row gap-2 justify-center items-center p-10 p-l-4 pr-4"
  transition:name="footer"
>
  <span>{new Date().getFullYear()}</span>
  <p class="text-center">
    Made for fun by <a href="https://creativesight.pl" target="_blank"
      >Creative Sight</a
    >
  </p>
</footer>
