---
---

<footer class="flex gap-2 justify-center items-center p-10 p-l-4 pr-4">
  <span>{new Date().getFullYear()}</span>
  <p>
    Made for fun by <a href="https://creativesight.pl" target="_blank"
      >Creative Sight</a
    >
  </p>
</footer>
