---
---

<header
  class="flex items-center p-4 sticky top-0 bg-black border-b-2 border-b-yellow-600 z-100"
>
  <figure class="flex flex-1">
    <a href="/"><img src="/images/logo.webp" alt="Elden Ring logo" /></a>
  </figure>
  <nav class="flex justify-center items-center">
    <ul class="flex gap-4 justify-center items-center">
      <li><a href="/">Home</a></li>
      <li><a href="/ammos">Ammos</a></li>
      <li><a href="/armors">Armors</a></li>
      <li><a href="/ashes">Ashes of war</a></li>
      <li><a href="/bosses">Bosses</a></li>
      <li><a href="/classes">Classes</a></li>
      <li><a href="/creatures">Creatures</a></li>
      <li><a href="/incantations">Incantations</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/npcs">Npcs</a></li>
      <li><a href="/shields">Shields</a></li>
      <li><a href="/sorceries">Sorceries</a></li>
      <li><a href="/spirits">Spirits</a></li>
      <li><a href="/talismans">Talismans</a></li>
      <li><a href="/weapons">Weapons</a></li>
    </ul>
  </nav>
</header>
