<div class="mt-20 text-center">
  <a
    class="inline-flex bg-yellow-500 text-black pt-2 pb-2.5 pl-4 pr-4 cursor-pointer rounded-lg opacity-100 hover:opacity-80 transition-opacity"
    onclick="window.history.back()">Back to previous page</a
  >
</div>
